@page "/"

<PageTitle>Home</PageTitle>

<h1>SmartExpenses keep your expenses under control</h1>

<h3>Features coming soon:</h3>

<h5>User and Household Management</h5>
<h5>Expense Logging</h5>
<h5>Basic Expense Overview</h5>
<h5>Expense Analytics</h5>
<h5>Receipt Management</h5>
